.bottom {
    -fx-padding: 5 5 10 5;
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 5;
    -fx-border-color: rgba(255, 0, 128, 0.3);
    -fx-background-color: rgba(214, 240, 128, 0.6);
}

.bottomElements, .topElements {
    -fx-padding: 20px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.defaultShape {
    -fx-fill: azure;
    -fx-stroke: rgba(214, 240, 128, 0.8);
}

.humanCircleChoice {
    -fx-fill: greenyellow;
    -fx-stroke: greenyellow ;
}

.computerCircleChoice {
    -fx-fill: red;
    -fx-stroke: red ;
}

.top {
    -fx-padding: 10 5 5 5;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 5;
    -fx-border-color: rgba(255, 0, 128, 0.3);
    -fx-background-color: rgba(214, 240, 128, 0.6);
}

.default {
    -fx-background-color: azure;
}

.gridRow {
    -fx-background-color: rgba(214, 149, 128, 0.6), azure ;
    -fx-background-insets: 0, 0 0 2 0 ;
}

.gridColumn {
    -fx-border-color: rgba(214, 149, 128, 0.6);
    -fx-border-width: 2;
    -fx-border-style: hidden solid hidden hidden;
}

